<template>
  <div>
    <v-navigation-drawer 
    :expand-on-hover="true"
   
    :right="true"
    :permanent="true"
   dark
    absolute
    >
    <!-- v-model="drawer" -->
  <!-- absolute      this is appear right side --> 
        <!--  -->
 <!-- :src="bg" -->
     <!-- :color="true"  -->


      <!-- from Vuetify copy , is simply model  -->


      <!-- :expand-on-hover   :this's hover when you point there than change others model -->

   <!-- :mini-variant="miniVariant"  : The expand-on-hover prop does not alter the content area of v-main. To have content area respond to expand-on-hover, bind mini-variant.sync to a data prop.
# -->


<!-- Component copy form #Misc #Colored drawer ,, very simply  -->

<v-list
 danse
 class="py-0">

  <v-list-item 
  two-line 


>
 <!-- :class="mini-variant && 'px-0' -->
  <!-- step 4. Add ‘: to=item.path into your <v-list-item>  -->


        <v-list-item-action>
                
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>{{items.title }}</v-list-item-title>
              </v-list-item-content>
  </v-list-item>
    


  <v-list-item 
   v-for="item in items"
   :key="item.title"
   link
    :to="item.path"  
  >
  <!-- up : insert path item link form scrip runtrun there -->
             <v-list-item-action>
                <!-- <v-icon>{{ item.icon }}</v-icon> -->
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ items.title }}</v-list-item-title>
              </v-list-item-content>
  </v-list-item>

          </v-list>
</v-navigation-drawer>
  </div>
</template>

<script>
export default {


   data () {

//  setting items : for route in bar // to  after icon: there //
    return {
drawer:true ,
items: [
          {title: 'ABOUT', icon: 'mdi-view-dashboard' ,path:'/'},
          {title: 'SEARCH', icon: 'mdi-account-box' , path:'/search'},
          {title: 'LOGINOUT', icon: 'mdi-gavel',path:'/login' },
        ],
        right:false ,

//  no theme-color not working wait fixed
//         color :'primary' ,
//         color: [
//  'primary' ,
//  'yellorw' ,
//  'second'
//         ]


    }
  }
}
</script>

<style >

</style>



