
<template>
<v-row>
<!-- <v-container> -->
 
 <v-card

color="#FFC400" class="mt-16 " elevation='12' 
   width="70%" height="60%" min-width='10vw' mini-height="60vh" > 
   <!-- step 1. components v-card  aslike  (container )  -->
 <v-card-title class="title"
   >  
 
   <!-- step 2.  title aslike Header interval spaceing and position  -->
 <img class="logo" src="/Users/doung1118/Code/Vue/test-vue-exam/image/mark.png"/>
 <h1 class="display-1">SFTM Tracking</h1>
 
 </v-card-title>
 <!-- step3 . text aslike body  -->
 <v-card-text> 
   <!-- this is form aslike input feature , wrap  -->
   <v-form>
 
 <!-- this is about text componets   , and element and also could be setting propos -->
 <v-text-field 
 label="Username"  
 prepend-icon="mdi-account-circle"
 /> 
 <!-- prepend-icon from icon libiery  ,, when you install vuefity already -->
 
 <v-text-field 
 type="password" 
 label="Password" 
 prepend-icon="mdi-lock"
 append-icon="mdi-eye-off"
 />
 <v-divider />
 
 <!-- here need Link Router  -->
 
 <v-card-actions>
 <!-- <v-app> -->
 <v-btn 
   class="login"
   color="#1A237E"
   height="50"
   elevation="5"
   block
   >
 
 <router-link  class="routerlink" to="/search">login</router-link>
 
  <!-- stockflow using css  .routerlink  not working -->
 
 </v-btn>
 <!-- </v-app> -->
 </v-card-actions>
 
 
 
   </v-form>
 </v-card-text>
 </v-card>
 
  <!-- </v-container> -->
     </v-row>
   </template>

 <script>
  export default{
    data(){
   return{
 
   };
   },
   }
 </script>
 
 <style>
   @import '../stylesheets/Login.css' ;
 </style>