<template>
  <v-row>
 <!-- <v-container> -->
<v-container fluid >



<v-col >
     <img  class="bg" src="../assets/image/logflow.png" />
</v-col>

<v-layout class="box" >

<v-card color="primary" width="600px" height="526px" text-center>
    

  <v-col cols="12" sm="12" md="12" lg="12">
  <v-layout>
    <img class="logo" width="228" height="80" src="../assets/image/LOGFLOWS_logo_text_white.png"
    />
  </v-layout>
</v-col>  

<v-col cols="12" sm="12" md="12" lg="12">
  <v-layout>
    <v-card-title class="title">  
        SFTM Tracking 
    </v-card-title>
  </v-layout>
</v-col>  


<v-col cols="12" sm="12" md="12" lg="12">
  <v-layout>
    <v-flex> 
      <v-text-field  label="Username"  prepend-icon="mdi-account-circle" > </v-text-field> 
              <!-- prepend-icon from icon libiery  ,, when you install vuefity already -->
      <v-text-field type="password" label="Password" prepend-icon="mdi-lock" append-icon="mdi-eye-off"> </v-text-field>
   </v-flex>
  </v-layout> 
  </v-col>   

      <v-divider> </v-divider>

<v-col cols="12" sm="12" md="12" lg="12" text-center>
<v-layout >    
  <v-flex >
    <v-card-actions >
      <v-btn class="login" color="#2B3990" height="50" elevation="5" width="288" >
        <router-link  to="/search">
            <div class="white--text" color="white"> login </div>
        </router-link>
      </v-btn>
      </v-card-actions>
  </v-flex>
</v-layout>
</v-col>  

</v-card>
</v-layout>






</v-container >
</v-row>
</template>

<script>
  export default {
    
  }
</script>

<style lang="scss" scoped>

</style>