<template>
  <v-app>
    <v-layout>
        <v-navigation-drawer app absolute :right="false" v-model="drawer" height="100%" >
          <!-- Note :<v-navigation-drawer temporary for Mobile better , conver Header , let user have forcuse NavBar Drawar  -->

          <!-- Note : <v-navigation-drawer permanent > permanent is mean forever fixed on out,, 
          for Setting first , when you finshed need cancel  -->


           <!-- when you setting v-model="drawer" also must setting switch udder = {export default : return }there  -->
          <v-layout class="pa-4" >
              <div class="gray--text" > LOG </div>
              <div>FLOW</div>
          </v-layout> 

          <v-layout class="mt-15 mb-5">
              <v-layout>
                <v-flex text-center>  
                  <v-avatar size="100" color="gray" >
                     <span class="white--text headline">B Y</span>
                  </v-avatar> 
                  <div class="mt-3 title">
                    Barry Yu 
                  </div>
                  <div class="subtitle-2 caption gray--text ">
                    LogFlow.TW
                  </div>
                    <div class="mt-10"></div>
                  <v-layout  >
                    <v-flex class="mr-n10">
                      <v-icon size="25">mdi-truck-outline</v-icon>
                      <div class="gray--text">10</div>
                    </v-flex>
                    <!-- <v-flex>
                      <div class="subtitle">哩程</div>
                      <div class="gray--text">105 Km</div>
                    </v-flex> -->
                    <v-flex class="ml-n10">
                      <v-icon >mdi-cash-usd-outline</v-icon>
                      <div class="gray--text" >40,000 NT</div>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            <!-- </v-flex> -->
          </v-layout>   

          <v-list nav dense>
            <v-list-item-group
                v-model="group"
                active-class="deep-purple--text text--accent-4"
                class="mt-6"
                app
                >
              <v-list-item>
                <v-list-item-title>Note</v-list-item-title>
              </v-list-item>
      
              <v-list-item>
                <v-list-item-title>Message</v-list-item-title>
              </v-list-item>
    
              <v-list-item>
                <v-list-item-title>Contract</v-list-item-title>
              </v-list-item>
      
              <v-list-item>
                <v-list-item-title>Invest Check </v-list-item-title>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
    </v-layout>
  </v-app>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>