<template>
  <v-app >
    <div>
      <v-main class="bg1">
        <v-col>
          <v-spacer class="space_1 mt-15" cols="12" sm="3" md="3"></v-spacer>
        </v-col>


        <v-row class="justify-center mt-15 ">
          <v-card elevation-15 width="605" height="530">
            <v-row >
                     <!-- 
                     <v-col cols="12" sm="1" >
                          <img  class="bg" src="../assets/image/logflow.png" />
                     </v-col> -->
                <v-col cols="12"  sm="12" md="12" lg="12">
                  <v-layout class="color2" >
                    <v-card color="primary" width="600" height="526" text-center>
        
                      
                      <!--         Here is LOGO Image            -->
                      <v-col cols="12" sm="12" md="12" lg="12">
                          <v-layout justify-center>
                               <img class="logo" width="228" height="80" src="../assets/image/LOGFLOWS_logo_text_white.png"/>
                          </v-layout>
                      </v-col>  
                
        
                 
                      <!--   Here is Title        -->
                      <v-col cols="12" sm="12" md="12" lg="12">
                        <v-layout justify-center >
                           <v-card-title >  
                               <span class=title2 >SFTM Tracking </span>
                            </v-card-title>
                         </v-layout>        
                      </v-col>  
                
                
                      <!--  Here is UserName      -->
                      <v-layout justify-center>
                        <v-card width="256" class="">
                            <v-text-field  
                                 hide-details class="white" outlined  label="Username"> 
                            </v-text-field> 
                        </v-card>
                      </v-layout>
                
                              <!-- prepend-icon="mdi-account-circle" -->
                              <!-- prepend-icon from icon libiery  ,, when you install vuefity already -->
                              <!-- prepend-icon="mdi-lock"  -->
                             
                      <v-spacer class="ma-5"></v-spacer>
                
                
                      <!--        Here is UserName      -->
                      <v-layout justify-center >
                        <v-card width="256">
                          <v-text-field    
                            type="password"  hide-details class="white " outlined label="Password" append-icon="mdi-eye-off"> 
                          </v-text-field>
                        </v-card>
                      </v-layout>
                
                
                      <v-spacer class="ma-5"></v-spacer>
                
                
                                    
                      <v-layout justify-center>
                        <v-card width="256">
                          <v-btn class="btn-login" color="#2B3990" height="50" elevation="5" width="256" >
                            <router-link  to="/searchpage">
                                 <div class="white--text" color="white"> login </div>
                            </router-link>
                          </v-btn>
                        </v-card>
                      </v-layout>
                  
        
                      <!---  Here is subTitle  -->
                      <v-col cols="12" sm="12" md="12" lg="12">
                          <v-layout class="footer" justify-center>
                            <v-card-title class="title">  
                                    Terms and Conditions
                            </v-card-title>
                          </v-layout>
                      </v-col>  
                
                    </v-card>
                  </v-layout>   
                </v-col>

            </v-row>
          </v-card>
        </v-row>
      </v-main>
    </div>
  </v-app>
</template>
<script>
// import Footer from '@/components/Footer.vue'
export default {
  components: {
    //  Footer ,
  },
  data() {
    return {};
  },
};
</script>

<style>
@import "../stylesheets/Login.css";
@import "../stylesheets/Footer.css";
</style>
