<template>
  <v-app>
    <div>
      <template>
         <Header></Header>
      </template>
    </div>

    <div class="mt-5">
    </div>
    
  </v-app>
</template>
<script>
import Header from "@/components/Header.vue";
// import Footer from '@/components/Footer.vue'
// import SearchBar from '@/components/SearchBar.vue'
// import NavBar from '@/components/NavBar.vue'
export default {
  name: "SearchPage",
  components: {
    // SearchBar,
    Header,
    // Footer,
  },
};
</script>

<style>
@import "/stylesheets/Header.css";
</style>