#app {
  display: flex;
  flex-direction: row;
  /*  1. 基本款先做的ＣＳＳ */
  align-items: center;
  /* 整個頁面的長度 */
  height: 100%;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* margin-top: 120px; */
  
  /* 會影響其他頁面的container 位置 */


}

/* .bg {
  width: 1440px;
  height: 881px;
  background-size: cover;
} */







/* 

Mobilefirst

note:
定義預設的 viewport 尺寸 
使用 CSS 媒體查詢 (media queries) 
設定分界點 (breakpoint) */