.datatable-1 {
  background-color: #EFF2F7;
  max-width:1000px;
  color: #47525E;
  font-family: Lato;
  font-size: 16px;
  line-height: 20px;
  max-width: 150px;
  text-align: left;
}


.custom-highlight-row{
  max-width: 150px ;
  background-color: yellow;
}



.title-result {
  color: #47525E;
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
}


.theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
    background: yellow;
}

