
.bg2  {
  background-image: url("../assets/image/BKopacity20.png");
  background-position: top 95px right 40px; 
  background-size: 1017px 683px ;
  background-color: rgba(2rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat; 
  max-width: 100%;
  min-width: 720px;
  max-height :100%;
  max-height:1280px;


}


.header-item {
 margin-right :30px; 
}



.search_space  {
min-width: 760px;

}