

.bg1  {
  /* display: initial; */
  background-image: url(../assets/image/BKopacity30.png);
  width: 1440px;
  height: 881px;
  position:absolute;
  background-repeat: repeat;
   background-position: center ;
   background-attachment: fixed;
   /* 固定大小 */
   background-size: cover;
   /* Opacity:0.5; */

}


.color2  {

  background-color:rgba(0, 0, 0, 0.5);

}

.footer  {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  /* width: 369px; */
  text-align: center;
  text-decoration: underline;
  
}





.title  {
  color: #7d7d96;


}



.title2 {
    color: #47525E;
    font-family: Lato;
    font-size: 40px;
    line-height: 51px;
    width: 600px;
    text-align: center;

  }


.username2{
  background-color: #FFFFFF;
  border: 1px solid #8492A6;
  border-radius: 5px;
  width: 287px;
  height: 50px;


}

/*
@media screen and (min-width: 400px)  {...}
@media screen and (min-width: 600px)  {...}
@media screen and (min-width: 1000px) {...}
@media screen and (min-width: 1400px) {...} */



 /* breakpoint 都是用寬度來作為基準 */

.btn-login {
  color: #FFFF;
  font-size: 50px;


}

.routerlink  {
color : #ffff ;


}



.space_1  {
height: 30px;

}


.btn-login  {
  border-radius: 5px;
  width: 288px;
  height: 50px;


}