
.search_title {
  color: #47525E;
  font-family: Lato;
  font-size: 48px;
  line-height: 62px;
  width: 732px;
  text-align: left;


}



.search_title2 {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  line-height: 28px;
  width: 620px;
  text-align: left;


}


/* .search_space {
  min-width: 450px;
  max-width:264px;

} */

.selection-reference {
  min-width:264px ;
  max-width:264px;
}




.bg3{
  background-image: url("../assets/image/BKopacity20.png");
  background-position: right center; 
  background-size: 1017px 683px; 
  background-color: rgba(2rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;


}