.subtitle {
  color: #47525E;
  font-family: Lato;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}


.waypoint-font {
  color: #47525E;
  font-family: Lato;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}


.waypoint-time {
  color: #2B3990;
  font-family: Lato;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}



.v-timeline-item__inner-dot {
  background-color: #FFFFFF;
  border: 2px solid #77D353;
  border-radius: 100%;
  border-radius: 50%;
  width: 24px;
  height:50px;
}


.waypoint-will {
  color: #969FAA;
  font-family: Lato;
  font-size: 24px;
  line-height: 31px;
  text-align: left;
}
  




