<template>
  <div>
    <v-layout>
      <v-flex >
          <div class="title-result text-left mb-10">
                  2 Results
          </div>   
      </v-flex>
    </v-layout>

    <v-data-table
        mobil="ture"
        max-width="200"
       :headers="headers"
        :items="desserts"
        :items-per-page="5"
        item-key="name"
        class=" elevation-5"  >

      <template v-slot:body="{ items }">
        <tbody>
          <tr 
           :class="key === selectedRow ? 'custom-highlight-row' : ''" @click="rowSelect(key)"
           v-for="(item , key) in items" 
           :key="item.name">
            <td>{{ item.name }}</td>
            <td>{{ item.ship }}</td>
            <td>{{ item.container }}</td>
            <td>{{ item.carbs }}</td>
            <td>{{ item.order}}</td>
            <td>{{ item.port }}</td>
            <td>{{ item.download }}</td>
          </tr>
        </tbody>
      </template>
          </v-data-table> 
  </div>
</template>
  <script>
export default {
  name: "DisplayData",
  data() {
    return {
      selectedRow: null,
      headers: [
        {
          text: "#",
          value: "name",
          align: "start",
          sortable: false,
          class: " datatable-1  title",
        },
        { text: "ship", value: "ship", class: " datatable-1  title" },
        { text: "container", value: "container", class: " datatable-1  title" },
        { text: "carbs", value: "carbs", class: " datatable-1  title" },
        { text: "order", value: "order", class: " datatable-1  title" },
        { text: "port", value: "port", class: " datatable-1  title" },
        { text: "download", Value: "download", class: " datatable-1  title" },
      ],
      desserts: [
        {
          name: "1",
          ship: "Barry",
          container: 159,
          carbs: 6.0,
          order: 12355,
          part: 4.0,
          download: "NO",
        },

        {
          name: "2",
          ship: "Mery",
          container: 159,
          carbs: 6.0,
          order: 12355,
          part: 2.0,
          download: "NO",
        },
      ],
    };
  },
  methods: {
    rowSelect(idx) {
      console.dir(idx);
      this.selectedRow = idx;
    },
  },
};
</script>
<style lang="scss" scoped>
@import url(../stylesheets/DisplayData.css);
tbody {
  tr:hover not {
    background-color: yellow transparent !important;
  }
}
</style>