<template>
    <v-footer app padless >
      <v-col
      class="footer-1 text-center"
      cols="12"
         >
         <span class="mr-n1">@</span>
          {{ new Date().getFullYear() }} — <strong >LOGFLOWS</strong>
      </v-col>
    </v-footer>
  </template>
<script>
export default {
  name: "Footer",
};
</script>

<style  >
@import "../stylesheets/Footer.css";
</style>