<template>
  <v-app>  
    <v-app-bar  app clipped height="80" color ="primary elevation-5" >

      <v-app-bar-nav-icon @click.stop="drawer = !drawer">
             <!-- https://iconify.design/icon-sets/mdi/magnify.html -->   
      </v-app-bar-nav-icon>
            

      <v-toolbar-title >
        <router-link to="/"> 
            <v-img
                max-width="114"
                max-hight="40"
                src="../assets/image/LOGFLOWS_logo_text_white.png">
            </v-img>
        </router-link>
      </v-toolbar-title>
  
  
      <v-spacer /> 
       <v-spacer />
  
      <v-toolbar-items class=" header-item mt-10">
          <v-flex class="mr-5">
            <router-link to="/">
              <div class="white--text title"> 
                    Search 
              </div> 
            </router-link>
          </v-flex>
  
  
          <v-spacer></v-spacer>
  
  
          <v-flex class="mr-5">
            <router-link to="/">
              <div class="white--text title"> 
                  FeedBack 
              </div> 
            </router-link>
          </v-flex>




          <v-spacer></v-spacer>
  
  
          <v-flex class="mr-5">
            <router-link to="/"> 
              <div class="white--text title"> 
                Guide 
              </div> 
            </router-link>
          </v-flex>
  
  
          <v-spacer></v-spacer>
  
  
          <v-flex class="mr-5">
            <router-link to="/"> 
              <div class="white--text title"> 
                T&C 
              </div> 
            </router-link>
          </v-flex>
          
  
          <v-spacer></v-spacer>
  
          
          <v-flex class="mr-5">
            <router-link to="/"> 
              <div class="white--text title">
                 Logout 
              </div> 
            </router-link>
          </v-flex>
  
          <v-flex>         
             <v-icon class="mr-5" @click.stop="sidebar=!sidebar" color="white" size="40" >
               mdi-dots-vertical
             </v-icon>
          </v-flex>

        <v-spacer></v-spacer>

      </v-toolbar-items>
    </v-app-bar>
      <!-- The content below is copy #Bottom drawer template and script from Vuefity  -->
    <div>
      <v-flex>
        <v-layout>
          <v-navigation-drawer
              :right="true"
              class="primary  mr-0 elevation-10"
              expand-on-hover
              v-model="sidebar"
              height="100%"
              temporary
            
             app>

            <v-list  nav dense class="mt-10" >
              <v-list-item link >
                <v-flex align-center class="ma-n3">
                  <v-avatar  class="pa-0 mr-0" >
                      <img src="https://media.cakeresume.com/image/upload/s--TKyX9I7p--/c_fill,g_face,h_300,w_300/v1593495134/awkwdbvwempqs1aq9pfy.jpg" alt="">
                           
                  </v-avatar>
                </v-flex>

                <v-list-item-title class="mt-7">
                      My Files
                </v-list-item-title>
              </v-list-item>
                    
              <v-list-item link class="mt-5">
                <v-list-item-icon>
                  <v-icon>
                     mdi-account-multiple
                  </v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                  Shared with me
                </v-list-item-title>
              </v-list-item>

              <v-list-item link>
                <v-list-item-icon>
                  <v-icon>
                    mdi-star
                  </v-icon>
                </v-list-item-icon>
                <v-list-item-title>
                   Starred
                </v-list-item-title>
              </v-list-item>

            </v-list>
          </v-navigation-drawer>
        </v-layout>
      </v-flex>

      <v-layout>
        <v-navigation-drawer 
          app
          absolute
          :right="false"
          v-model="drawer" 
          height="100%"
          temporary
            >
                    <!-- Note :<v-navigation-drawer temporary for Mobile better , conver Header , let user have forcuse NavBar Drawar  -->
          
                    <!-- Note : <v-navigation-drawer permanent > permanent is mean forever fixed on out,, 
                    for Setting first , when you finshed need cancel  -->
          
          
                     <!-- when you setting v-model="drawer" also must setting switch udder = {export default : return }there  -->
          
          
          <v-layout class="pa-4"   nav
                dense >
                  <div class="gray--text" > LOG </div>
                  <div>FLOW</div>
          </v-layout> 
          
          <v-layout class="mt-15 mb-5">
            <!-- <v-flex> -->
              <v-layout>
                <v-flex text-center>  
                    <!-- incon could be show little bit Data , Name adn client NO. or somting  -->
                  <v-avatar size="100" color="gray" >
                     <span class="white--text headline">B Y</span>
                  </v-avatar> 
                  <div class="mt-3 title">
                    Barry Yu 
                  </div>
                  <div class="subtitle-2 caption gray--text ">
                    LogFlow.TW
                  </div>
                    <div class="mt-10"></div>
                  <v-layout  class="text-center">
                    <v-flex class="">
                      <v-icon size="25">mdi-truck-outline</v-icon>
                      <div class="gray--text">100 KM</div>
                    </v-flex>
                    <!-- <v-flex>
                      <div class="subtitle ml-10">哩程</div>
                      <div class="gray--text">105 Km</div>
                    </v-flex> -->
                    <v-flex class="">
                      <v-icon >mdi-cash-usd-outline</v-icon>
                      <div class="gray--text" >40,000 NT</div>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            <!-- </v-flex> -->
          </v-layout>    
        
          <v-list nav dense>
            <v-list-item-group
                v-model="group"
                active-class="deep-purple--text text--accent-4"
                class="mt-6"
                app
                >
                <v-list-item>
                  <v-list-item-title>Note</v-list-item-title>
                </v-list-item>
      
                <v-list-item>
                  <v-list-item-title>Message</v-list-item-title>
                </v-list-item>
      
                <v-list-item>
                  <v-list-item-title>Contract</v-list-item-title>
                </v-list-item>
      
                <v-list-item>
                  <v-list-item-title>Invest Check </v-list-item-title>
                </v-list-item>
            </v-list-item-group>
          </v-list>


        </v-navigation-drawer>
      </v-layout>
    </div>
    <v-main  class="bg2">
      <v-row >
        <v-col class="mt-9">   
             <SearchSection />
        </v-col>
      </v-row>     
    </v-main> 

    <div class=" search_space mt-10">
          
    </div>

  </v-app>
</template>

<script>
// Return {  "drawer" "group" and "watch"   } are belong v-navigation-drawer and list
import SearchSection from "@/components/SearchSection.vue";
export default {
  name: "Header",
  components: {
    SearchSection,
  },
  data() {
    return {
      // let cancel  render appear  NavBar fist when login  drawer:false
      drawer: false,
      sidebar: false,
      group: null,
      watch: {
        group() {
          this.drawer = false;
        },
      },

      items: [
        { title: "ABOUT", path: "/" },
        { title: "Search", path: "/search" },
        { title: "LOGINOUT", path: "/login" },
      ],

      mini: true,
    };
  },
};
</script>
<style>
@import "../stylesheets/Header.css";
</style>

