<template>
<v-container class="mr-10 ml-n15" >
    <v-row class="mr-15 ml-n10">
      <v-card width="500" height="500">
        <v-img
         height="500"
         width="500"
         src="../assets/image/Screenshot 2020-10-06 at 5.14.52 PM.png">
        </v-img>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "MapSection",
};
</script>

<style lang="scss" scoped>
</style>