<template>
<!-- <div class="block seachBlock"> -->
  <div class=" ml-15 mr-15 mt-10" > 
    <v-spacer class="mt-15"></v-spacer>
    <v-layout >
      <v-flex  class="mt-15">
        <div class="search_title" >Start to track your Business</div>
      </v-flex>
    </v-layout>


    <div class="search_title2 mt-15">
              gistics visualization with one number
    </div>


    <v-spacer class="mb-10 md-2"/>


    <v-layout>
      <v-row  >
        <v-col class="mr-10"
          cols="12" xs="12" sm="5" md=5 lg="3" xl="3">
            
          <v-select 
           v-model="select"
           :loading="loading"
           :items="items"
           :search-input.sync="search"
           height="50"
           class=" white selection-reference"
           cache-items
           hide-no-data
           hide-details
           label="Reference"
           solo-inverted
            >
          </v-select>
        </v-col>
         
    
        <v-col  
           class="mr-5" cols="12" xs="12" sm="5" md=5 lg="3" xl="3" >
          <v-layout  >
            <v-text-field 
              hide-details
              placeholder="SEARCH PORT " 
              outlined
              elevation="5"
              height="50"
              class="white selection-reference"
              >
            </v-text-field>
          </v-layout >
        </v-col>
  
        <v-col  cols="12" xs="6" sm="2"  md=2  lg="3" xl="3" >
          <v-btn 
                color="#2B3990" 
                class="white--text 
                search_btn  mb-5 "
                dense
                elevation="15"
                max-width="192"
                min-width="192"
                height="50"
                > 
                 SEARCH 
          </v-btn> 
        </v-col>
      </v-row>
  
            
      <v-spacer />   
  
    </v-layout>    


    <v-spacer class="mb-10"> </v-spacer>

    <div >    
      <template >
        <v-col cols=12 md="5" lg="10" xl="10">
          <DisplayData class="mb-10" max-width="1000" />      
        </v-col>
        
      </template>
    </div>  
  
    <div >    
        <template>
          <v-row> 
            <v-col> <Waypoint  class=""/></v-col>
            <v-col> <MapSection class=""/></v-col>
          </v-row>
        </template>
    </div>  
  </div>
</template>

<script>
import DisplayData from "@/components/DisplayData.vue";
import Waypoint from "@/components/Waypoint.vue";
import MapSection from "@/components/MapSection.vue";
// import Footer from "@/components/Footer.vue"
export default {
  name: "SearchSection",
  components: {
    DisplayData,
    Waypoint,
    // Footer,
    MapSection,
  },
  data() {
    return {
      loading: false,
      search: null,
      select: null,
      items: ["Part no1", " Order no"],

      headers: [
        { text: "#", value: "id", align: "start", sortable: false },
        { text: "Ship ref.", value: "ship" },
        { text: "Container", value: "container" },
        { text: "Carbs (g)", value: "carbs" },
        { text: " no.", value: "order" },
        { text: "Part no.", value: "part" },
        { text: "Download ", Value: "download" },
      ],
    };
  },
};
</script>

<style >
@import url(../stylesheets/SearchSection.css);
</style>