<template>
  <v-container>
    <v-row class="ml-1">
      <v-card width="480" height="500">
        <v-img
          height="100"
          src="../assets/image/Waypoint-accent.png">

          <v-app-bar flat color="rgba(0, 0, 0, 0)" class="mt-5">

            <v-col>
              <div>
                <v-toolbar-title class="subtitle pl-0 ml-5">
                  ORIG
                </v-toolbar-title>

                <v-toolbar-title class="title white--text pl-0">
                  名古屋
                </v-toolbar-title>
              </div>
            </v-col> 


            <v-col>
              <v-btn     
                color="#77D353" class="white--text"
                dense elevation="2" width="200"
                max-width="192" min-width="192" height="50"> 
               In-Transit      
              </v-btn>
            </v-col> 


       

            <v-col>
              <div>
                <v-toolbar-title 
                     class="subtitle pl-0 ml-5"
                     >DEST
                </v-toolbar-title>
                <v-toolbar-title class="title white--text pl-0"> 
                  新興鎮
                </v-toolbar-title>
              </div>
            </v-col> 

          </v-app-bar>
        </v-img>

        <v-card-text>
          <v-layout>
            <v-row>

              <v-spacer/>

              <div class="align-right ">
                   First way
              </div>

               <v-spacer/>

              <div class="text-right ">
                 Planned/ Actual
              </div>
            </v-row>
          </v-layout>
          
          <v-timeline 
             align-top dense class="mt-5 mr-5" >

            <v-timeline-item  class="mt-n2"
                v-for="(item ,id) in items"
                :key="id"
                :color="item.color"
                :will="item.will"
                :time="item.time"
                small>
              <v-row>
                <strong class="waypoint-font">{{ item.from }}</strong> 
                        <v-spacer/>
                <strong class="waypoint-time">{{ item.time }} </strong>
                <strong class="waypoint-will">{{ item.will }} </strong>
              </v-row>
            </v-timeline-item>
          </v-timeline>
        </v-card-text>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    name: "Waypoint",
    items: [
      {
        id: "1",
        from: "名古屋港",
        time: "2020-09-06 12:30",
        will: "",
        color: "waypoint ",
      },
      {
        id: "2",
        from: "上海港",
        time: "2020-09-11 00:00 ",
        will: "",
        color: "waypoint",
      },
      {
        id: "3",
        from: "杨浦",
        time: "",
        will: "2020-09-06 12:30",
        color: "",
      },
      {
        id: "4",
        from: "台北",
        time: "",
        will: "2020-09-13 00:00",
        color: "",
      },
      {
        id: "5",
        from: "台中",
        time: "",
        will: "2020-09-14 00:00",
        color: "",
      },
      {
        id: "6",
        from: "高雄",
        time: "",
        will: "2020-09-15 00:00",
        color: "",
      },
      {
        id: "7",
        from: "嘉義",
        time: "",
        will: "2020-09-16 00:00",
        color: "",
      },
      {
        id: "8",
        from: "嘉義",
        time: "",
        will: "2020-09-17 00:00",
        color: "",
      },
    ],
  }),
};
</script>

<style scoped>
@import "../stylesheets/DisplayData.css";
</style>