<template>
  <v-app >
    <div id="app">
         <router-view >
         </router-view>
     </div>  

     <v-main>
        <Footer />
     </v-main>

  </v-app>
</template>

<script>
import Footer from "./components/Footer.vue";
export default {
  name: "App",
  components: {
    Footer,
  },
};
</script>

<style>
@import "./stylesheets//App.css";
@import "./stylesheets/Login.css";
/* @import './stylesheets/Header.css' ; */

/* 終於成功了....試過百百種...CSS引用. 
  /* could be all css file inser here , incould */
</style>
